{% extends 'base.html' %}
{% block title %} Системная информация {% endblock %}
{% block title_page %}Системная информация{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-motherboard">
      </use></svg>Система
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item white-space"><svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-cpu-fill">
      </use></svg>CPU avg: {{ cpu_avg }}</li>
      <li class="list-group-item white-space"><svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-memory">
      </use></svg><p>RAM: {{ ram }}</li>
      <li class="list-group-item white-space"><svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-hdd">
      </use></svg>{{ disk }}</li>
      <li class="list-group-item"><svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-database">
        </use></svg>Database size: {{ db }}
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-sm btn-danger float-end" data-bs-toggle="modal" data-bs-target="#cleaDB">
            <svg class="bi opacity-75 theme-icon"><use href="#bi-trash3-fill"></use></svg>
        </button>
        <!-- modal -->
        <div class="modal fade" id="cleaDB" data-bs-backdrop="modal" data-bs-keyboard="false" tabindex="-1"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Вы действительно хотите очистить базу данных с <b>показаниями</b> ваших датчиков ?</p>
                  <p>Если вы соглашаетесь, то эти данные будут утеряны навсегда!</p>
              </div>
              <div class="modal-footer">

                    <button type="button" name="db-clean" class="interact-btn btn btn-danger"
                            data-bs-dismiss="modal">Да</button>

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <div class="card-footer">
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#reboot">
                <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-bootstrap-reboot"></use></svg>Перезагрузка
            </button>
            <!-- modal -->
            <div class="modal fade" id="reboot" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p>Перезагрузить устройство ?</p>
                  </div>
                  <div class="modal-footer">

                        <button type="button" name="reboot" class="interact-btn btn btn-danger"
                                data-bs-dismiss="modal">Да</button>

                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#poweroff">
                <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-power"></use></svg>Выключение
            </button>
            <!-- modal -->
            <div class="modal fade" id="poweroff" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p>Выключить устройство ?</p>
                  </div>
                  <div class="modal-footer">

                        <button type="button" name="poweroff" class="interact-btn btn btn-danger" 
                                data-bs-dismiss="modal">Да</button>

                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="card-footer">
           <div class="d-grid gap-2 d-md-flex justify-content-center">
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reset">
                <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-recycle"></use></svg>Сброс данных
            </button>
            <!-- modal -->
            <div class="modal fade" id="reset" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p> Сбросить все данные и перезагрузить устройство ?</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                              data-bs-target="#reset_confirmation" data-bs-dismiss="modal">Да</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="reset_confirmation" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticResetConfirmation" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title fs-5" id="staticResetConfirmation">Сброс данных</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p> Подтвердите еще раз, что желаете удалить все данные:</p>
                  </div>
                  <div class="modal-footer">

                        <button type="button" name="soft-reset" class="interact-btn btn btn-danger"
                                data-bs-dismiss="modal">Да</button>

                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </ul>
</div>
<br>
<div class="card">
  <div class="card-header">
    <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-clock">
      </use></svg>Дата и время
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Текущее время: {{ date }}
        <!-- Button trigger modal -->
        <button type="submit" class="btn btn-sm btn-primary float-end" data-bs-toggle="modal" data-bs-target="#tzauto">
            <svg class="bi opacity-75 theme-icon"><use href="#bi-clock"></use></svg>
        </button>
        <!-- modal -->
        <div class="modal fade" id="tzauto" data-bs-backdrop="modal" data-bs-keyboard="false" tabindex="-1"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Установить время на основе текущего местоположения* ?</p>
                  <p><small class="text-body-secondary">*Для работы данной функции требуется доступ в интернет</small></p>
              </div>
              <div class="modal-footer">

                    <button type="button" name="tzauto" class="interact-btn btn btn-danger"
                            data-bs-dismiss="modal">Да</button>

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End modal -->
    </li>
    <li class="list-group-item">Время работы: {{ uptime }}</li>
  </ul>
</div>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <br>
      <div class="alert alert-danger shadow-sm p-3 mb-5 rounded" role="alert">
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="card">
  <div class="card-header">
    <svg class="bi me-2 opacity-75 theme-icon"><use href="#bi-list-task">
      </use></svg>Системные службы
  </div>
  <ul class="service-list-view list-group list-group-flush">
      
  </ul>
</div>

<div class="modal fade service-confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p> Подтвердите, что действительно хотите продолжить: </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="service-confirm-btn btn btn-primary" data-bs-dismiss="modal">Подтвердить</button>
          <button type="button" class="service-cancel-btn btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}

{% block scripts %}
<script src="/static/js/select_options_button_handler.js"></script>
<script>

serverResponse = null;

let service_list = document.querySelector('.service-list-view');
document.addEventListener("DOMContentLoaded", async ()=>
{
  //Fetch data from the server
  returnData = await postJSON("/api/settings/service-list", "GET")
  returnData['data'].forEach(element => 
  {
    service_list.innerHTML += 
    `<li class="list-group-item"><div class="row justify-content-start">

      <div class="col">
        ${element[0]}
      </div>
      <div class="col text-end">
        <div class="btn-group" role="group" aria-label="Service Control">
        ${(element[1] === "active") ? `
        <button type="button" class="service-status-btn btn btn-success btn-sm" 
                              data-bs-toggle="modal" data-bs-target=".service-confirmation">Active</button>` :
            `
        <button type="button" class="service-status-btn btn btn-danger btn-sm" 
                              data-bs-toggle="modal" data-bs-target=".service-confirmation">Inactive</button>`
          }
        ${(element[2] === "enabled") ? `
        <button type="button" class="service-preset-btn btn btn-success btn-sm" 
                              data-bs-toggle="modal" data-bs-target=".service-confirmation">Enabled</button>` :
            `
        <button type="button" class="service-preset-btn btn btn-danger btn-sm" 
                              data-bs-toggle="modal" data-bs-target=".service-confirmation">Disabled</button>`
          }
        </div>
      </div>
    </div></li>`
  });

  let service_status_list = document.querySelectorAll('.service-status-btn');
  let service_preset_list = document.querySelectorAll('.service-preset-btn');
  let service_confirm = document.querySelector('.service-confirm-btn');
  let service_cancel = document.querySelector('.service-cancel-btn');


  async function outer()
  {
    async function putToServer(data, button, option)
    {
      let returnData = await postJSON('/api/settings/update', "PUT", data);
      if(option === "service_status")
      {
        button.innerHTML = (button.innerHTML === "Active") ? "Inactive" : "Active";
      }
      else if(option === "service_preset")
      {
        button.innerHTML = (button.innerHTML === "Enabled") ? "Disabled" : "Enabled";
      }
      button.classList.toggle('btn-success');
      button.classList.toggle('btn-danger');
      return returnData;
    }
    serverResponse = putToServer(data, currentButton, currentOption)
  }

  service_status_list.forEach((service_status, index)=>
  {
    service_status.addEventListener('click', async ()=>
    {
      data = {name: "service-status", data: [index, service_status.innerHTML]}
      
      //Глобальная переменная для хранения текущей кнопки
      currentButton = service_status;
      currentOption = "service_status";

      service_confirm.addEventListener('click', outer);
      
      service_cancel.addEventListener('click', () =>
      {
        service_confirm.removeEventListener('click', outer);
      });
    });
  });

  service_preset_list.forEach((service_preset, index)=>
  {
    service_preset.addEventListener('click', async ()=>
    {
      data = {name: "service-preset", data: [index, service_preset.innerHTML]}
      
      //Глобальная переменная для хранения текущей кнопки
      currentButton = service_preset;
      currentOption = "service_preset";

      service_confirm.addEventListener('click', outer);
      
      service_cancel.addEventListener('click', () =>
      {
        service_confirm.removeEventListener('click', outer);
      });
    });
  });

});



let interact_buttons = document.querySelectorAll('.interact-btn');
interact_buttons.forEach(async (button)=> 
{
  button.addEventListener('click', async()=>
  {
    data = {name: "index-msg", data: button.getAttribute('name')};
    serverResponse = await postJSON('/api/settings/create', "POST", data );
  });

});



</script>

{% endblock %}
