{% extends "base.html" %}
{% block title %}Данные с модема{% endblock %}
{% block title_page %}Данные с модема{% endblock %}
{% block content %}

<div class="row md-6 d-flex justify-content-center">
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            Текущая информация
        </div>
        {% if show_modem %}
        <table class="table table-striped table-borderless text-center" style="margin: auto;">

        {% for Key, Value in show_modem.items() %}
            <tr>
                <th scope = "row">{{ Key | safe }}: </th>
                <td>{{ Value | safe }}</td>
            </tr>
        {% endfor %}

        </table>
        {% else %}
            <h1 align="center">Модем не найден!</h1>
        {% endif %}

    </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <form method="POST">
            <div class="card-header">
                 <select id="m_opt" name="modem_options" required="required">
                     <option value="">Выберите опцию</option>
                     <option value="ussd_option">USSD запрос</option>
                     <option value="apn_option">Настройка APN</option>
                 </select>
            </div>
            <div class="card-body">
                <label>Введите запрос:</label>
                <div class="row mt-3">
                    <input class="form-control" type="text" id="input_value" name="input_form">
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </div>
                    <div id="ussd_request_hidden_button" class="hidden col-md-6">
                        <button id="cnl-btn" class="btn btn-secondary" type="submit">Завершить сессию</button>
                    </div>

                </div>
            </div>
            </form>
            <div class="card-body">
                <p>{% if response %}{{response | safe }} {% endif %}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script src="/static/js/select_options_button_handler.js"></script>

{% endblock %}