{% extends "base.html" %}
{% block title %}Выбор оверлеев{% endblock %}
{% block title_page %}Список доступных оверлеев{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col md-6">
        <div class="card">

            <div class="card-header">
                <p>Available overlays</p>
            </div>

            <div class="card-body">
                {% for file in overlays_list %}
                <div class="row">
                    <button class="btn overlay-select-btn  {% if file[1]==True %}
                    btn-primary {% elif exclusive_overlays_status[file[2]]%}
                    btn-secondary {% else %} btn-light {% endif %}" type="button">
                            {{ file[0] | safe }}
                    </button>
                </div>

                {%  endfor %}
            </div>
        </div>

    </div>

    <div class="col md-6">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    {% for file in current_overlays %}
                    {{ file | safe }} <br>
                    {%  endfor %}
                </div>
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    {% for file in overlays_list %}
                        {% if file[1]==True %}
                            {{ file[0] | safe }}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}

{% block scripts %}

<script src="/static/js/select_options_button_handler.js"></script>
<script>
var select_btn = document.getElementsByClassName('overlay-select-btn');


for(let i = 0; i < select_btn.length; i ++)
{
//    let text_field = document.querySelector('#copy_text_field_' + String(copy_btn[i].getAttribute('value')));
//    let change_svg_btn = document.querySelector('#copy_btn_svg_'+ String(copy_btn[i].getAttribute('value')));



    select_btn[i].addEventListener('click', () => {
    if select_btn[i].classList.contains('active')
    {
        select_btn[i].classList.remove('active')
    }
    else if select_btn[i].classList.contains('btn-se')
    fetch("/settings/overlays", {
        method: "POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({"status": state})
    })
    .then(response => {if(!response.ok){
                            throw new Error('Network response Error');}
                       response.json(); })

    .catch(error => {
        console.error("Error:", error);

    });
    })
}
</script>
{% endblock %}