{% extends "base.html" %}
{% block title %}Выбор оверлеев{% endblock %}
{% block title_page %}Список доступных оверлеев{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col md-6">
        <div class="card">

        <div class="card-header">
            Список интерфейсов
        </div>
        <form  method="post" action="{{ url_for('settings.modem_overlays_control') }}">

        <div class="card-body">

                {% for key, list in overlays_list.items() %}
                {% if list %}

                <div class="group-container-custom">
                    <div>{{ key | safe }}</div>

                    <div class="mt-2 btn-group interface-group" role="group" aria-label="Mutual Exclusive overlays">

                        {% for overlay in list %}
                                <input type="radio" class="btn-check" name="{{ key | safe }}"
                                       id="{{ overlay | safe }}" value="{{ overlay | safe }}" autocomplete="off"
                                        {% for current in current_overlays %}
                                            {% if overlay == current %}
                                                checked
                                            {% endif %}
                                        {% endfor %}>
                                <label class="btn btn-outline-primary" for="{{ overlay | safe }}">
                                    {{ overlay | safe }}</label>
                        {% endfor %}

                        <input type="button" class="btn btn-outline-info clear-btn" value="Сбросить выбор">
                    </div>
                </div>
                {% endif %}

            {% endfor %}


            <div class="card-header mt-5"> Доступные оверлеи </div>


            {% for item in overlays_ungrouped %}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="{{ item | safe }}" value="{{ item | safe }}"
                           name="{{ item | safe }}"
                        {% for current in current_overlays %}
                            {% if item == current %}
                                checked
                            {% endif %}
                        {% endfor %}>
                  <label class="form-check-label" for="{{ item | safe }}">{{ item | safe }}</label>
                </div>
            {% endfor %}

        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">
                Отправить
            </button>
        </div>

        </form>

        </div>

    </div>

    <div class="col md-6">

            <div class="card">

                <div class="card-header">
                    Текущие интерфейсы
                </div>

                <div class="card-body">
                    {% for current in current_overlays %}
                    {{ current | safe }} <br>
                    {%  endfor %}
                </div>

            </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script src="/static/js/select_options_button_handler.js"></script>
<script>
let clear_buttons = document.querySelectorAll('.clear-btn');

clear_buttons.forEach((clear_button) => {
    clear_button.addEventListener('click', () => {
        let parentDiv = clear_button.closest(".interface-group");
        let radioButtons = parentDiv.querySelectorAll('input[type="radio"]');
        radioButtons.forEach((radioButton) => {
        radioButton.checked = false;
        })
    })
})
</script>
{% endblock %}