{% extends "base.html" %}
{% block title %}Обновление прошивки{% endblock %}
{% block title_page %}Обновление прошивки{% endblock %}
{% block content %}

    <h1>Меню</h1>
    <ul>
        <li><a href="/">Главная</a></li>
        {% if show_modem %}
            <li><a href="/modem">Модем</a></li>
        {% endif %}
        <li><a href="/#">Настройки</a></li>
        <!-- Добавьте другие пункты меню здесь -->
    </ul>
    {% if show_modem %}
        {% for Key, Value in show_modem.items() %}
            <p>{{ Key | safe }}: {{ Value | safe }}</p>
        {% endfor %}
    {% endif %}


{% endblock %}
