{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block title_page %}{% endblock %}
{% block content %}

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
               Авторизация
            </div>
            <div class="card-body">
                <form class="g-3" method="post" action="{{ url_for('auth.login') }}">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" placeholder="">
                      <label for="username">Имя пользователя</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="password" name="password" placeholder="">
                      <label for="password">Пароль</label>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit" value="Login" tabindex="-1">
                        <svg class="bi me-1 opacity-75 theme-icon"><use href="#bi-box-arrow-in-right"></use></svg>
                        Login
                    </button>
                </form>
            </div>
            <div class="card-footer text-muted bg-warning-subtle">
                Default: admin/admin
            </div>
        </div>
        <div class="mb-3">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <br>
              <div class="alert alert-danger shadow-sm p-3 mb-5 rounded" role="alert">
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
    </div>
</div>

{% endblock %}