{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block title_page %}Регистрация{% endblock %}
{% block content %}

<div class="container">
  <form method="post" action="{{ url_for('auth.signup') }}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <input type="submit" value="Signup">
    </form>
<!--    <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up here</a>.</p>-->

<!--    {% for auth in users %}-->
<!--            <div class="post">-->
<!--                <p><b>#{{ auth.id }}</b></p>-->
<!--                <p class="title">-->
<!--                    <b>-->
<!--                        <a href="#">-->
<!--                            {{ auth.username }}-->
<!--                        </a>-->
<!--                    </b>-->
<!--                </p>-->
<!--            </div>-->
<!--        {% endfor %}-->
</div>

{% endblock %}