venv
.idea
__pycache__
app/__pycache__
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/extensions.cpython-311.pyc
app/__pycache__/utils.cpython-311.pyc
app/auth/__pycache__/__init__.cpython-311.pyc
app/auth/__pycache__/routes.cpython-311.pyc
app/charts/__pycache__/__init__.cpython-311.pyc
app/charts/__pycache__/routes.cpython-311.pyc
app/forms/__pycache__/network.cpython-311.pyc
app/forms/__pycache__/sensors.cpython-311.pyc
app/main/__pycache__/__init__.cpython-311.pyc
app/main/__pycache__/routes.cpython-311.pyc
app/models/__pycache__/user.cpython-311.pyc
app/sensors/__pycache__/__init__.cpython-311.pyc
app/sensors/__pycache__/routes.cpython-311.pyc
app/settings/__pycache__/__init__.cpython-311.pyc
app/settings/__pycache__/routes.cpython-311.pyc
