venv
.idea
dist
src/__pycache__
src/app/__pycache__
src/app/__pycache__/__init__.cpython-311.pyc
src/app/__pycache__/extensions.cpython-311.pyc
src/app/__pycache__/utils.cpython-311.pyc
src/app/auth/__pycache__/__init__.cpython-311.pyc
src/app/auth/__pycache__/routes.cpython-311.pyc
src/app/charts/__pycache__/__init__.cpython-311.pyc
src/app/charts/__pycache__/routes.cpython-311.pyc
src/app/forms/__pycache__/network.cpython-311.pyc
src/app/forms/__pycache__/sensors.cpython-311.pyc
src/app/main/__pycache__/__init__.cpython-311.pyc
src/app/main/__pycache__/routes.cpython-311.pyc
src/app/models/__pycache__/user.cpython-311.pyc
src/app/sensors/__pycache__/__init__.cpython-311.pyc
src/app/sensors/__pycache__/routes.cpython-311.pyc
src/app/settings/__pycache__/__init__.cpython-311.pyc
src/app/settings/__pycache__/routes.cpython-311.pyc
