{% extends "base.html" %}
{% block title %}Настройка конфигурации{% endblock %}
{% block title_page %}Настройка датчика{% endblock %}
{% block content %}

<div class="alert alert-secondary alert-dismissible fade show text-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  Более полную информацию по написанию файла конфигурации вы можете найти на
    <a href="https://github.com/influxdata/telegraf/tree/master/plugins/inputs/modbus#configuration"
                                                                                 class="alert-link"
                                                                                 target="_blank">Github</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form class="was-validated g-3" method="POST" action="{{ url_for('sensors.add_sensor') }}">
    <br>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="{{ form.sensor_name.name }}" name="{{ form.sensor_name.name }}"
               placeholder="Sensor-1-1" maxlength="20" minlength="2" required>
        <label for="{{ form.sensor_name.name }}">{{ form.sensor_name.label }}</label>
    </div>
    <pre>
        <textarea class="form-control text-field" id="{{ form.conf_text.name }}"
                  name="{{ form.conf_text.name }}"
                  rows="25">## Тут пишем комментарий
[[inputs.modbus]]

  name = "SensorName"
  slave_id = 1
  timeout = "1s"

  controller = "file:///dev/ttyS1"
  baud_rate = 9600
  data_bits = 8
  parity = "N"
  stop_bits = 1
  transmission_mode = "RTU"

  holding_registers = [
    { name = "Volt_a",   byte_order = "AB",   data_type = "UINT16",   scale=0.01,     address = [72]},
  ]
</textarea>
    </pre>
    <button class="btn btn-primary confirm-button" type="button" value="Добавить">
        Добавить
    </button>
    <br>
</form>

<script src="{{ url_for('static', filename='bootstrap/js/select_options_button_handler.js') }}"></script>

<script>
let confirmButton = document.querySelector('.confirm-button');
let textField = document.querySelector('text-field');
data = textField.innerHTML;
console.log(data);
returnData = await postJSON("/api/sensors/create", "POST", data);


</script>


<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/theme/dracula.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/addon/hint/show-hint.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/addon/display/fullscreen.css') }}">
<script src="{{ url_for('static', filename='codemirror/mode/toml/toml.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/selection/active-line.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/search/searchcursor.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/search/match-highlighter.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/hint/show-hint.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/hint/anyword-hint.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/edit/closebrackets.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/edit/trailingspace.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/display/fullscreen.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/edit/matchbrackets.js') }}"></script>
<style type="text/css">
.CodeMirror {
    height: auto;
}
.CodeMirror-focused .cm-matchhighlight {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
        background-position: bottom;
        background-repeat: repeat-x;
      }
      .cm-matchhighlight {background-color: rgba(0, 255, 0, 0.2)}
.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}
.CodeMirror-fullscreen {
    top: 5em;
}
.cm-s-dracula .CodeMirror-matchingbracket { text-decoration: none; color: #f5f502 !important; }
</style>

<script type="text/javascript">
CodeMirror.commands.autocomplete = function(cm) {
        cm.showHint({hint: CodeMirror.hint.anyword});
      }
var editor = CodeMirror.fromTextArea(
    document.getElementById('{{ form.conf_text.name }}'), {
        mode:'toml',
        theme: 'dracula',
        lineNumbers: true,
        styleActiveLine: true,
        lineWrapping: true,
        highlightSelectionMatches: {showToken: /\w/},
        extraKeys: {
          "Ctrl-Space": "autocomplete",
          "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          }
        },
        autoCloseBrackets: true,
        showTrailingSpace: true,
        matchBrackets: true,
        showCursorWhenSelecting: true
        });
</script>
{% endblock %}
