{% extends "base.html" %}
{% block title %}404 Page Not Found{% endblock %}
{% block title_page %}<h1 align="center">404 Page Not Found</h1>{% endblock %}
{% block content %}

<div class="row md-6 d-flex justify-content-center">
    <div class="col-md-6">
    <div class="card">
        <table class="table table-striped table-borderless text-center" style="margin: auto;">

            <tr>
                <th scope = "row"><h3>What were you looking for is not here</h3>
                </th>
            </tr>
            <tr>
                <th scope = "row"><a class="none-decoration" href="/app/static"><h3>Вернуться на главную</h3></a>
                </th>
            </tr>
        </table>
    </div>
    </div>
</div>


{% endblock %}
