{% extends "base.html" %}
{% block title %}Настройка LTE модема{% endblock %}
{% block title_page %}Настройка подключения модема{% endblock %}
{% block content %}

<div class="row md-12 justify-content-center">
    <div class="col md-12">
        <div class="card">

            <div class="card-header">
                <div class="row d-flex">
                    <div class="col-6">
                    Быстрое подключение к интернету
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <span class="badge bg-info text-bg-dark modem_state"></span>
                    </div>
                </div>

            </div>

            <div class="card-body d-flex flex-column">
                <div class="form-check form-switch">
                    <form class="form-horizontal">

                        <input class="form-check-input connection-switch" type="checkbox" role="switch"
                               name="connectionSwitch" id="connectionSwitch_1">
                        <label class="form-check-label" for="connectionSwitch_1">Connection off/on</label>

                    </form>
                </div>

                <div class="mt-2">
                    <button type="button" class="btn btn-primary fast-connection-btn">Подтвердить</button>
                </div>

                <div class="alert-placeholder mt-2">

                </div>

            </div>

        </div>
    </div>
</div>


<div class="row md-6 d-flex justify-content-center">

    <div class="col md-6 mt-3">
        <div class="card">

            <div class="card-header">
                Настройка соединения LTE модема
            </div>

            <div class="card-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label>APN</label>
                        <input placeholder="Введите APN" class="form-control" type="text" name="apn_input">
                    </div>

                    <div class="form-group mt-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ipvX" value="4" id="flexRadio1" checked>
                            <label class="form-check-label" for="flexRadio1">
                                IPv4v6
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ipvX" value="1" id="flexRadio2">
                            <label class="form-check-label" for="flexRadio2">
                                IPv4
                            </label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ipvX" value="2" id="flexRadio3">
                            <label class="form-check-label" for="flexRadio3">
                                IPv6
                            </label>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <label>User</label>
                        <input placeholder="Оставьте поле пустым, если не знаете, что это"
                               class="form-control" name="user_input">
                    </div>

                    <div class="form-group mt-3">
                        <label>Password</label>
                        <input placeholder="Оставьте поле пустым, если не знаете, что это"
                               class="form-control" name="password_input">

                    </div>

                    <div class="form-group mt-3">
                        <button class="btn btn-primary init-connection-btn" type="button">Отправить</button>
                    </div>
                    <!--
                    <div class="form-group mt-3">
                    </div>
                    -->
                </form>

            </div>
        </div>
    </div>

    <div class="col md-6 mt-3">
        <div class="card">
            <form>
            <div class="card-header">
                 USSD Запрос
            </div>
            <div class="card-body">
                <label>Введите запрос:</label>
                <div class="form-group mt-3">
                    <input class="form-control" type="text" id="input_value" name="input_form" required>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <button class="btn btn-primary ussd-btn-primary" type="button">Отправить</button>
                    </div>

                    <div class= "col-md-6 container-btn-secondary hidden">
                        <button class="btn btn-secondary ussd-btn-secondary" type="button">Завершить сессию</button>
                    </div>

                </div>
            </div>
            </form>
            <div class="card-body copy-container">

                <div class="d-flex mt-2">

                    <div class="col justify-content-start align-items-start">
                        <p class="ussd-status">USSD Session State: UNKNOWN</p>
                    </div>

                    <div class="col d-flex justify-content-md-end">
                        <button class="btn mt-0 me-0 copy-btn">
                            <svg class="bi opacity-75 theme-icon" aria-hidden="true">
                                <use class="copy_btn_svg" href="#clipboard"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="row justify-content-center">
                    <pre type="text"  class="copy_text_field"></pre>
                </div>

            </div>
        </div>
    </div>

</div>


  <div class="container py-3">
    <p class="lead">
        Информация с модема
    </p>
    <hr>
  </div>


<div class="row md-6 mt-3 d-flex justify-content-center">

    <div class="col md-6 mt-3">
        <div class="card">
            <div class="card-header">
                Текущая информация
            </div>
            {% if form['show_modem'] %}
            <table class="table table-striped table-borderless text-center" style="margin: auto;">

            {% for Key, Value in form['show_modem'].items() %}
                <tr>
                    <th scope = "row">{{ Key | safe }}: </th>
                    <td>{{ Value | safe }}</td>
                </tr>
            {% endfor %}

            </table>
            {% else %}
                <h1>Модем не найден!</h1>
            {% endif %}
        </div>
    </div>

    <div class="col md-6 mt-3">
        <div class="card">
            <div class="card-header">
                Текущий статус соединения
            </div>
            <div class="card-body copy-container">

                <div class="d-flex justify-content-md-end ">

                    <div class="row">
                        <button class="btn mt-0 me-0 copy-btn">
                            <svg class="bi opacity-75 theme-icon" aria-hidden="true">
                                <use class="copy_btn_svg" href="#clipboard"></use>
                            </svg>
                        </button>
                    </div>

                </div>

                <div class="container d-flex justify-content-start">
                    <pre class="copy_text_field">
<span class="modem_state"></span>
<span class="modem_name"></span>
<span class="modem_apn"></span>
<span class="modem_ip"></span>
<span class="modem_user"></span>
<span class="modem_password"></span>
<span class="modem_address"></span>
<span class="modem_gateway"></span>
<span class="modem_dns"></span>
                    </pre>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/select_options_button_handler.js"></script>
<script>

let ussd_status = document.querySelector(".ussd-status");
let primary_button = document.querySelector(".ussd-btn-primary")
let secondary_button = document.querySelector(".ussd-btn-secondary");
let sec_btn_container = document.querySelector(".container-btn-secondary");
let insertField = document.querySelector(".copy_text_field");

primary_button.addEventListener("click", async ()=>
{
    let form = document.querySelector("#input_value");
    
    data = {name: "ussd-request", data: form.value};
    returnData = await postJSON("/api/settings/create", "POST", data);

    insertField.textContent = returnData['response'];
    ussd_status.textContent = "USSD Session State: " + returnData['ussd_status'];

    if (ussd_status.innerHTML === "USSD Session State: UNKNOWN" || 
        ussd_status.innerHTML === "USSD Session State: IDLE")
    {
        sec_btn_container.classList.add("hidden");
    }
    else
    {
        sec_btn_container.classList.remove("hidden");
        secondary_button.addEventListener('click', async () => 
        {
            data = {name: "ussd-request", data: "ussd_cancel"}

            returnData = await postJSON("/api/settings/create", "POST", data);
            insertField.textContent = "";
            ussd_status.textContent = "USSD Session State: " + returnData['ussd_status'];
            sec_btn_container.classList.add("hidden");
        });
    }
});




let stateFlag = document.querySelector('.modem_state').innerText;
let con_switch = document.querySelector('.connection-switch');
let fast_connection_btn = document.querySelector('.fast-connection-btn');

fast_connection_btn.addEventListener('click', () => {

    let state = !con_switch.checked;

    let message = {name: "connection-switch", status: state}
    postJSON("/api/settings/update", 'PUT', message);

});


let init_connection = document.querySelector('.init-connection-btn');
init_connection.addEventListener('click', () => {
    // Get the values of the form elements
    let apn = document.querySelector('[name="apn_input"]').value;
    let ip = document.querySelector('[name="ipvX"]').value;
    let user = document.querySelector('[name="user_input"]').value;
    let password = document.querySelector('[name="password_input"]').value;
    let message = {name: "connection-form", apn: apn, ip: ip, user: user, password: password};

    postJSON("/api/settings/update", 'PUT', message);
});


const eventSource = new EventSource('/api/settings/sse?target=modem');

eventSource.onmessage = function(event) {
    function iter(name, array, dataArray, index) {
        array.forEach((point)=> {
        point.innerHTML = name + dataArray[index];
        });
    }

    if (event.data !== '')
    {
        let modemConfig = JSON.parse(event.data)
        let nameArray = ["State: ", "Name: ", "APN: ", "IPv: ", "User: ", "Password: ", "Address: ", "Gateway: ",
                        "DNS: "];
        let classArray = [".modem_state", ".modem_name", ".modem_apn", ".modem_ip", ".modem_user", ".modem_password",
                            ".modem_address", ".modem_gateway", "modem_dns"];

        // Enable the connection button if the modem is not disabled or registered
        init_connection.disabled = !(modemConfig[0] !== "DISABLED" || modemConfig !== "REGISTERED");

        // Loop through the array of names and update the HTML elements
        for( let i = 0; i < nameArray.length; i ++)
        {

            let modemState = document.querySelectorAll(classArray[i]);
            iter(nameArray[i], modemState, modemConfig, i);

        }

    }

};

document.addEventListener("DOMContentLoaded", async ()=>
{
    //Fetch data from the server
    returnData = await postJSON("/api/settings/ussd-request", "GET");

    let ussd_status = document.querySelector(".ussd-status");
    ussd_status.textContent = "USSD Session State: " +  returnData['ussd_status'];

    //Check if the status is "UNKNOWN" or "IDLE"
    if (ussd_status.innerHTML === "USSD Session State: UNKNOWN" || 
        ussd_status.innerHTML === "USSD Session State: IDLE"){
        //Hide the secondary button container
        sec_btn_container.classList.add("hidden");
    }
    else
    {
        //Show the secondary button container
        sec_btn_container.classList.remove("hidden");
        //Add an event listener to the secondary button
        secondary_button.addEventListener('click', async () => 
        {
            data = {name: "ussd-request", data: "ussd_cancel"}
            returnData = await postJSON("/api/settings/ussd_request", "POST", data);

            insertField.textContent = "";
            ussd_status.textContent = "USSD Session State: " + returnData['ussd_status'];
            sec_btn_container.classList.add("hidden");
        
        });
    }

});


</script>
{% endblock %}